<a href="https://colab.research.google.com/github/Dumasjr/python/blob/master/EstudoCondicional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
idade = 5
print(idade)

5

In [30]:
q_seguranca = 5
s_seguranca = 3000

q_docente = 16
s_docente = 6000

q_diretoria = 1
s_diretoria = 12500

total_empregados = q_seguranca + q_docente + q_diretoria
diferenca_salario = s_diretoria - s_seguranca

media = (q_seguranca*s_seguranca + q_docente*s_docente + q_diretoria*s_diretoria) / (total_empregados)

operador = 2
potencia = 3
resultado = operador ** potencia

print(total_empregados)
print(diferenca_salario)
print(media)

print(resultado)

S1= 'Alura'
S2 = "Alura Empresa"

texto = '  Geovana Alessandra dias Sanyos '
texto.replace('y','t')
texto.upper()
texto.lower()

chr(79) + chr(108) + chr(225)

texto = texto.strip().replace('y','t').upper()
print(texto.upper())
print(texto.lower())


print(type(S1),type(S2))
print(chr(79) + chr(108) + chr(225))

22
9500
5613.636363636364
8
GEOVANA ALESSANDRA DIAS SANTOS
geovana alessandra dias santos
<class 'str'> <class 'str'>
Olá

In [31]:
nome = input('Entre com seu nome:  ')
print(nome)

Entre com seu nomeAlexandre

In [34]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante:  '))

print(ano_entrada)
type(ano_entrada)

Escreva o ano de ingresso do(a) estudante:  024
24

int

In [36]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante:  '))
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print(f'Ano de entrada {ano_entrada} - nota do teste de ingresso {nota_entrada}')

Escreva o ano de ingresso do(a) estudante:  2024
Digite a nota do teste de ingresso: 10
Ano de entrada 2024 - nota do teste de ingresso 10.0

In [38]:
nome_aluno = 'Fabricio Daniel'

print('Nome do aluno: %s' %(nome_aluno))

Nome do aluno: Fabricio Daniel

In [4]:
nota= 7

if nota < 6:
  print('aprovado')
else:
  print('não atndeu a condição')

não atndeu a condição

In [7]:
nomeAluno = input('Entre com nome completo do aluno: ')
idadeAluno = int(input('entre com a idade do aluno:'))

if idadeAluno >=18:
  print('Aluno maior de idade')
else:
  print('Aluno menor de idade')

Entre com nome completo do aluno: Alexandre Dumas
entre com a idade do aluno:16
Aluno menor de idade

In [10]:
livro_1 = input('Digite o título do 1° livro: ')
livro_2 = input('Digite o título do 2° livro: ')

if livro_1 != livro_2:
  print('Os livros têm títulos diferentes')
else:
  print('Os livros têm títulos iguais')

Digite o título do 1° livro: teste
Digite o título do 2° livro: teste
Os livros têm títulos iguais

In [15]:
nota = int(input('Entre com a nota do Aluno:' ))
if nota > 6:
  print('Aluno aprovado')
elif 6.0 > nota >= 4.0:
  print('Aluno de Recuperação')
else:
  print('Aluno reprovado')

Entre com a nota do Aluno:5
Aluno de Recuperação

In [37]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45

print('Nome do aluno é %s, ele tem %d anos e sua média é %f.' %(nome_aluno, idade_aluno, media_aluno))

Nome do aluno é Fabricio Daniel, ele tem 15 anos e sua média é 8.450000.